{% extends 'base.html.twig' %}

{% block title %}Hello TestDisplayController!{% endblock %}

{% block body %}
        <div>
                <embed src="../uploads/pdf.pdf" type="application/pdf">
        </div>
{% endblock %}


{
1

}