{% extends 'base.html.twig' %}


{% block body %}
    <style>
        .container-lg{
            margin-top: 0;
            margin-left: 25%;
            text-align: center;
        }
        h1{
            text-align: center;
            color: white;
        }
        li{
            list-style-type: none;
        }
        #doc{
            list-style-type: none;
            align-items: center;
            justify-content: center;
        }

        iframe{
            border: 0;
        }

        #lipasdedoc{
            display: flex;
            justify-content: center;

        }

        #pasdedoc{
            text-align: center;
            width: 50%;
            margin-top: 30%;
            background-color: white;
            border-radius: 8px;
            color: Black;
        }
    </style>
    <div class="container-lg">
        <h1>{{ nom }}</h1>
        {% if listdoc %}
            {% for doc in listdoc %}
                {% if doc %}
                        <li id="doc">
                            <iframe
                                    src="{{ doc.link }}"
                                    width="70%"
                                    height="500"
                                    scrolling="no">
                            </iframe>
                        </li>
                {% endif %}
            {% endfor %}
            {% else %}
            <li id="lipasdedoc">
                <h1 id="pasdedoc">Votre page est vide, Veuillez ajouter un document dans l'onglet modification (Icone crayon)</h1>
            </li>
        {% endif %}
    </div>
{% endblock %}