{% extends 'base.html.twig' %}

{% block navbar %}
<table>
    <ul>
        <li>Login</li>
        {% block liste %}{% endblock %}
    </ul>
</table>
<div id="page">
    {% block liste %}
        {% for i in files %}
            <li>{{ i }}</li>
        {% endfor %}
    {% endblock %}
    {% block body %}{% endblock %}
</div>
{% endblock %}
