{% extends 'base.html.twig' %}

{% block navbar %}
<table>
    <ul>
        <li>Login</li>
        {% block liste %}
            {% for i in files %}
                <li>{{ i.name }}</li>
            {% endfor %}
        {% endblock %}
    </ul>
</table>
{% endblock %}
