{% extends 'base.html.twig' %}
{% block title %}Create Page{% endblock %}
{% block stylesheets %}
 <link rel="stylesheet" type="text/css" href="style.css">
  <style>
      .container-lg{
          margin-top: 0;
          margin-left: 25%;
          text-align: center;
          list-style-type: none;
          display: flex;
          justify-content: center;
          flex-direction: column;
          color: white;
      }


  </style>
{% endblock %}

{% block body %}
<div class="container-lg">
    <h1>Création de la page</h1>
    <form id="formupload" method="post" enctype="multipart/form-data">
        {{ form_start(formSetup) }}
        <div id="upload">
            {{ form_row(formSetup.NomDeLaPage, {
                id: 'inputupload'
            }) }}

        </div>
        <div class="preview">
            <p></p>
        </div>
        <div>
            {{ form_row(formSetup.submit, {
                id: 'buttonupload'
            }) }}

        </div>
        {{ form_end(formSetup) }}
    </form>
</div>



{% endblock %}

